body{
	background: #79C8FF;
}
.mui-bar-nav~.mui-content {
    padding-top: 49px;
}
.mui-bar.mui-bar-nav{
	position: absolute;
	height: 3rem;
	background: #79C8FF;
	box-shadow: 0 0 0 #ccc;
}
.mui-bar-nav a{
	color: #fff;
}
.mui-title {
    font-size: 1rem;
    color: #fff;
}
.mzxb{
	background: #79C8FF;
}
.mzxb .tab .tab-title{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 3.25rem;
	background: #79C8FF;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.mzxb .tab .tab-title a{
	margin: 0 0.35rem;
	display: block;
	width: 7.78rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	border-radius: 1rem;
	background: #96D3FF;
	color: #fff;
}
.mzxb .tab .tab-title a.cur{
	background: #FF9FCF;
}
.mzxb .tab .tab-con .bzbd{
	display: none;
}
.mzxb .tab .tab-con .bzbd.cur{
	display: block;
}
.mzxb .tab .tab-con .ranking{
	margin: 2.1rem auto 0;
	width: 92%;
	height: 10.75rem;
	border-radius: 1.28rem;
	background: #fff;
}
.mzxb .tab .tab-con .ranking ul{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.mzxb .tab .tab-con .ranking ul li{
	width: 33.33%;
	height: 100%;
}
.mzxb .tab .tab-con .ranking ul li:nth-child(2){
	margin-top: -1.375rem;
	height: 12.125rem;
	background: #fff;
	border-radius: 1.28rem;
}
.mzxb .tab .tab-con .ranking ul li .p-img{
	position: relative;
	margin: 1.5rem auto 0.5625rem;
	width: 3.125rem;
	height: 3.125rem;
	border-radius: 50%;
}
.mzxb .tab .tab-con .ranking ul li:nth-child(2) .p-img{
	margin-top: 0;
}
.mzxb .tab .tab-con .ranking ul li .p-img:before{
	position: absolute;
	top: -0.5rem;
	right: -0.5rem;
	content:'' ;
	display: block;
	width: 1.5rem;
	height: 1.5rem;
}
.mzxb .tab .tab-con .ranking ul li .sh{
	padding-top: 1.5rem;
	width: 100%;
	box-shadow: -4px -10px 10px #79C8FF,4px -10px 10px #79C8FF;
}
.mzxb .tab .tab-con .ranking ul li:nth-child(1) .p-img:before{
	background: url(../images/index/mzxb/ranking2.png) no-repeat center/cover;
}
.mzxb .tab .tab-con .ranking ul li:nth-child(2) .p-img:before{
	background: url(../images/index/mzxb/ranking1.png) no-repeat center/cover;
}
.mzxb .tab .tab-con .ranking ul li:nth-child(3) .p-img:before{
	background: url(../images/index/mzxb/ranking3.png) no-repeat center/cover;
}
.mzxb .tab .tab-con .ranking ul li:nth-child(2) .p-img{
	width: 3.93rem;
	height: 3.93rem;
}
.mzxb .tab .tab-con .ranking ul li .p-img img{
	width: 100%;
}
.mzxb .tab .tab-con .ranking ul li h2{
	text-align: center;
	font-size: 0.8125rem;
	font-weight: 500;
	line-height: 0.8125rem;
}
.mzxb .tab .tab-con .ranking ul li:nth-child(2) h2{
	line-height: 1.4rem;
}
.mzxb .tab .tab-con .ranking ul li p{
	text-align: center;
}
.mzxb .tab .tab-con .ranking ul li p i{
margin-right: 0.2rem;
	font-family: icon;
	font-style: normal;
	color: #FF9FCF;
}
.mzxb .tab .tab-con .ranking ul li a{
	margin: 0 auto;
	display: block;
	width: 60%;
	height: 1.875rem;
	font-size: 0.875rem;
	line-height: 1.875rem;
	text-align: center;
	border-radius: 0.94rem;
	background: #D7EEFF;
	color: #94D3FF;
}
.mzxb .tab .tab-con .ranking ul li:nth-child(2) a{
	background: #79C8FF;
	color: #fff;
}
.mzxb .tab .tab-con .list{
	padding: 0.6875rem 4% 0;
}
.mzxb .tab .tab-con .list ul li a{
	margin-bottom: 0.6875rem;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width: 100%;
	height: 3.33333rem;
}
.mzxb .tab .tab-con .list ul li a .p-con{
	width: 84.34%;
	height: 100%;
	padding: 0.16rem;
	border-radius: 1.7rem;
	background: #96D3FF;
	overflow: hidden;
}
.mzxb .tab .tab-con .lsbd .list ul li a .p-con{
	width: 92%;
}
.mzxb .tab .tab-con .list ul li a h2{
	font-weight: 400;
	color: #fff;
}
.mzxb .tab .tab-con .list ul li a .p-con .p-img{
	float: left;
	width:3rem;
	height: 3rem;
	border: 0.1rem solid #D5EFFF;
	border-radius: 50%;
	overflow: hidden;
}
.mzxb .tab .tab-con .list ul li a .p-con .p-img img{
	width: 100%;
}
.mzxb .tab .tab-con .list ul li a .p-con .mui-media-body{
	padding-left: 0.875rem;
	float: left;
}
.mzxb .tab .tab-con .list ul li a .p-con .mui-media-body h3{
	font-size: 0.75rem;
	color: #4B6071;
}
.mzxb .tab .tab-con .list ul li a .p-con .mui-media-body p i{
	font-family: icon;
	font-style: normal;
	color: #fff;
	padding-right: 0.2rem;
}
.mzxb .tab .tab-con .list ul li a .p-con button{
	margin: 0.7rem 0.625rem;
	float: right;
	display: block;
	height: 1.875rem;
	font-size: 0.875rem;
	border: none;
	border-radius: 0.94rem;
	background: #F4F4F4;
	color: #ABABAB;
}
.mzxb .tab .tab-con .list ul li a .icon{
	font-family: icon;
	color: #D7EEFE;
}
